{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="content">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <div class="article">
                <a class="title" href="/">Blogger - ONGR test platform</a>
                <p>This project was introduced to test new functionality of the ONGR bundles. It is presented as a blog site with minimal admin functionality </p>
                <p>The content for the site is taken from numerous sites including 'techcrunch', 'JURIST', 'CNN', 'PhotographyLife' and more...</p>
            </div>
        </div>
        <div class="col-md-2"></div>

        <div class="clearfix"></div>
        <div class="features">
        </div>
        <div class="col-md-7 content-left">
            <div class="article">
                <h5 class="head">in recent news</h5>
                <h6>Software </h6>
                <a class="title" href="">DeltaMaker – The new kid on the block An Elegant 3D Printer and a new wicked ass thing</a>
                <a href=""><img src="{{ asset('images/a1.jpg') }}" alt="" /></a>
                <p>Products were inspired by Behance's research of especially productive teams in the creative industry. Hundreds of individuals and teams were interviewed, and Behance chronicled the work habits and best practices of creative leaders. </p>
                <p>The paper products were initially designed by and for the Behance team as a way to stay organized. In 2007, at the insistence of friends who wanted Action Pads of their own...</p>
            </div>
        </div>
        <div class="col-md-5 content-right content-right-top">
            <h5 class="head">Popular</h5>
            <a href="">
                <div class="editor text-center">
                    <h3>DeltaMaker – The new kid on the block An Elegant 3D Printer</h3>
                    <p>A new cheap ass 3D Printer worth checking out</p>
                    <label>2 Days Ago</label>
                    <span></span>
                </div>
            </a>
            <a href="">
                <div class="editor text-center">
                    <h3>DeltaMaker – The new kid on the block An Elegant 3D Printer</h3>
                    <p>A new cheap ass 3D Printer worth checking out</p>
                    <label>2 Days Ago</label>
                    <span></span>
                </div>
            </a>
            <a href="">
                <div class="editor text-center">
                    <h3>Software Review: Autodesk Inventor Fusion for Mac</h3>
                    <p>3D Printing, 3D Software</p>
                    <label>3 Days Ago</label>
                    <span></span>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}
